<?xml version="1.0"?>

<model>
  <name>IAI_Galtelli_Small_River</name>
  <version>1.0</version>
  <sdf>galtelli_small_river.sdf</sdf>

  <author>
    <name>Benjamin Brieber</name>
    <email>bbrieber@cs.uni-bremen.de</email>
  </author>

  <description>
    Part of the IAI_Galtelli_Small world.
  </description>
</model>
