<?xml version="1.0" ?>
<launch>
    <group ns="wasp_1">
	<include file="$(find iai_rescue_quadrotor)/launch/spawn_wasp.launch">
	<arg name="tf_prefix" default="wasp_1"/>
	<arg name="name" default="wasp_1"/>
	      <arg name="x" value="-23.7304"/>
	      <arg name="y" value="-18.5801"/>
	      <arg name="z" value="14.0355"/>
	</include>  
    </group>
</launch>
