<?xml version="1.0"?>

<launch>
  
  <arg name="model_file" default="$(find iai_outdoor_environment)/urdf/galtelli.urdf"/>
  <!--
  <arg name="model" default="$(find iai_outdoor_environment)/urdf/theFinalNew.xacro"/>
  <param name="galtelli_description" command="$(find xacro)/xacro.py '$(arg model)'" />
  -->
  <param name="galtelli_description" textfile="$(arg model_file)" />
                            
<!--
  <node pkg="tf" type="static_transform_publisher" name="room_link_broadcaster" 
    args="-3.465 -4.35 0 -3.141592654 0 0 /map /room_link 200">
  </node>
  -->
  <node pkg="tf" type="static_transform_publisher" name="map_link_broadcaster" 
    args="0.0 0.0 0. 0.0 0. 0. /map /galtelli/world 200">
  </node>
  <node pkg="robot_state_chain_publisher" type="state_chain_publisher"
    name="galtelli_state_publisher" output="screen">
    <param name="tf_prefix" value="/galtelli"/>
    <param name="publish_frequency" value="2"/>
    <remap from="robot_description" to="galtelli_description" />
  </node>
  <!--arg
    name="gui"
    default="True" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" >
  </node>
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" >
    <param name="tf_prefix" value="galtelli"/>
    <remap from="robot_description" to="galtelli_description" />
  </node-->
  <!--
  <node pkg="robot_state_chain_publisher" type="state_chain_publisher"
    name="room_state_publisher" output="screen">
    <param name="tf_prefix" value="galtelli"/>
    <param name="publish_frequency" value="2"/>
    <remap from="robot_description" to="galtelli_description" />
  </node>
  -->
  <!--
  <node
    name="tf2_web_republisher"
    pkg="tf2_web_republisher"
    type="tf2_web_republisher" >
  </node>
  
  -->
<!--
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />


    <param name="knowrob_html_package" type="string" value="boxy_vis" />
    <param name="knowrob_welcome_file" type="string" value="boxy.html" />

  <param name="initial_package" type="string" value="knowrob_vis" />
  <param name="initial_goal" type="string" value="visualisation_server,visualisation_canvas" />
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />
-->

</launch>
